*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One';
}

.clearfix:hover{
    display: table;
    clear: both;
    content: "";
}

.art1, .art2, .art3{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

.art1{
    background-color: red;
}

.art2{
    background-color: green;
}

.art3{
    background-color: yellow;
}

.img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.img > p {
    font-size: 50px;
    padding: 0 55px;
    color: yellow;
}
.img > img{
    width: 90%;
}

#terzo{
    color: green;
}
