*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One';
}

.clearfix:hover{
    display: table;
    clear: both;
    content: "";
}


/* Sezioni Articoli */
#art1{
    background-color: red;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

#art2{
    background-color: green;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

#art3{
    background-color: yellow;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}
/* /Sezioni Articoli */



/* Proprietà img e testi */
.img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.img > p {
    font-size: 50px;
    padding: 0 55px;
    color: yellow;
}
.img > img{
    width: 90%;
}

#terzo{
    color: green;
}
/* /Proprietà img e testi */



/* Nav e bottoni */
nav{
    position: fixed;
    z-index: 1030;
    top: 6%;
    right: 0%;
    transform: translate(-25%, 0%);
}

nav > a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 100%;
    padding: 25px;
    color: black;
    background-color: white;
}

a > span{
    font-size: 25px;
    vertical-align: middle;
}
/* /Nav e bottoni */